<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-vsphere-index") %>>
          <a href="/docs/providers/vsphere/index.html">VMware vSphere Provider</a>
        </li>

        <li<%= sidebar_current("docs-vsphere-data-source") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-vsphere-data-source-compute-cluster.html") %>>
              <a href="/docs/providers/vsphere/d/compute_cluster.html">vsphere_compute_cluster</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-data-source-content-library.html") %>>
              <a href="/docs/providers/vsphere/d/compute_cluster.html">vsphere_content_library</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-data-source-content-library-item.html") %>>
              <a href="/docs/providers/vsphere/d/compute_cluster.html">vsphere_content_library_item</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-data-source-custom-attribute") %>>
              <a href="/docs/providers/vsphere/d/custom_attribute.html">vsphere_custom_attribute</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-data-source-datacenter") %>>
              <a href="/docs/providers/vsphere/d/datacenter.html">vsphere_datacenter</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-data-source-datastore") %>>
              <a href="/docs/providers/vsphere/d/datastore.html">vsphere_datastore</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-data-source-cluster-datastore") %>>
              <a href="/docs/providers/vsphere/d/datastore_cluster.html">vsphere_datastore_cluster</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-data-source-distributed-virtual-switch") %>>
              <a href="/docs/providers/vsphere/d/distributed_virtual_switch.html">vsphere_distributed_virtual_switch</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-data-source-host") %>>
              <a href="/docs/providers/vsphere/d/host.html">vsphere_host</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-data-source-host-thumbprint") %>>
              <a href="/docs/providers/vsphere/d/host_thumbprint.html">vsphere_host_thumbprint</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-data-source-network") %>>
              <a href="/docs/providers/vsphere/d/network.html">vsphere_network</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-data-source-resource-pool") %>>
              <a href="/docs/providers/vsphere/d/resource_pool.html">vsphere_resource_pool</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-data-source-vsphere-role") %>>
              <a href="/docs/providers/vsphere/d/vsphere_role.html">vsphere_role</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-data-source-tag-data-source") %>>
              <a href="/docs/providers/vsphere/d/tag.html">vsphere_tag</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-data-source-tag-category") %>>
              <a href="/docs/providers/vsphere/d/tag_category.html">vsphere_tag_category</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-data-source-virtual-machine") %>>
              <a href="/docs/providers/vsphere/d/virtual_machine.html">vsphere_virtual_machine</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-data-source-vmfs-disks") %>>
              <a href="/docs/providers/vsphere/d/vmfs_disks.html">vsphere_vmfs_disks</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-data-source-ovf-vm-template") %>>
              <a href="/docs/providers/vsphere/d/ovf_vm_template.html">vsphere_ovf_vm_template</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-vsphere-resource-admin") %>>
          <a href="#">Administration Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-vsphere-resource-entity-permissions") %>>
              <a href="/docs/providers/vsphere/r/vsphere_entity_permissions.html">vsphere_entity_permissions</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-admin-license") %>>
              <a href="/docs/providers/vsphere/r/license.html">vsphere_license</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-role") %>>
              <a href="/docs/providers/vsphere/r/vsphere_role.html">vsphere_role</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-vsphere-resource-compute") %>>
          <a href="#">Host and Cluster Management Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-vsphere-resource-compute-host") %>>
              <a href="/docs/providers/vsphere/r/host.html">vsphere_host</a>
            <li<%= sidebar_current("docs-vsphere-resource-compute-vnic") %>>
              <a href="/docs/providers/vsphere/r/vnic.html">vsphere_vnic</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-compute-compute-cluster") %>>
              <a href="/docs/providers/vsphere/r/compute_cluster.html">vsphere_compute_cluster</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-compute-cluster-host-group") %>>
              <a href="/docs/providers/vsphere/r/compute_cluster_host_group.html">vsphere_compute_cluster_host_group</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-compute-cluster-vm-affinity-rule") %>>
              <a href="/docs/providers/vsphere/r/compute_cluster_vm_affinity_rule.html">vsphere_compute_cluster_vm_affinity_rule</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-compute-cluster-vm-anti-affinity-rule") %>>
              <a href="/docs/providers/vsphere/r/compute_cluster_vm_anti_affinity_rule.html">vsphere_compute_cluster_vm_anti_affinity_rule</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-compute-cluster-vm-dependency-rule") %>>
              <a href="/docs/providers/vsphere/r/compute_cluster_vm_dependency_rule.html">vsphere_compute_cluster_vm_dependency_rule</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-compute-cluster-vm-group") %>>
              <a href="/docs/providers/vsphere/r/compute_cluster_vm_group.html">vsphere_compute_cluster_vm_group</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-compute-cluster-vm-host-rule") %>>
              <a href="/docs/providers/vsphere/r/compute_cluster_vm_host_rule.html">vsphere_compute_cluster_vm_host_rule</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-compute-drs-vm-override") %>>
              <a href="/docs/providers/vsphere/r/drs_vm_override.html">vsphere_drs_vm_override</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-compute-dpm-host-override") %>>
              <a href="/docs/providers/vsphere/r/dpm_host_override.html">vsphere_dpm_host_override</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-compute-ha-vm-override") %>>
              <a href="/docs/providers/vsphere/r/ha_vm_override.html">vsphere_ha_vm_override</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-compute-resource-pool") %>>
              <a href="/docs/providers/vsphere/r/resource_pool.html">vsphere_resource_pool</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-vsphere-resource-inventory") %>>
          <a href="#">Inventory Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-vsphere-resource-inventory-custom-attribute") %>>
              <a href="/docs/providers/vsphere/r/custom_attribute.html">vsphere_custom_attribute</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-inventory-datacenter") %>>
              <a href="/docs/providers/vsphere/r/datacenter.html">vsphere_datacenter</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-inventory-folder") %>>
              <a href="/docs/providers/vsphere/r/folder.html">vsphere_folder</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-inventory-tag-resource") %>>
              <a href="/docs/providers/vsphere/r/tag.html">vsphere_tag</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-inventory-tag-category") %>>
              <a href="/docs/providers/vsphere/r/tag_category.html">vsphere_tag_category</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-vsphere-resource-networking") %>>
          <a href="#">Networking Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-vsphere-resource-networking-distributed-port-group") %>>
              <a href="/docs/providers/vsphere/r/distributed_port_group.html">vsphere_distributed_port_group</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-networking-distributed-virtual-switch") %>>
              <a href="/docs/providers/vsphere/r/distributed_virtual_switch.html">vsphere_distributed_virtual_switch</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-networking-host-port-group") %>>
              <a href="/docs/providers/vsphere/r/host_port_group.html">vsphere_host_port_group</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-networking-host-virtual-switch") %>>
              <a href="/docs/providers/vsphere/r/host_virtual_switch.html">vsphere_host_virtual_switch</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-vsphere-resource-storage") %>>
          <a href="#">Storage Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-vsphere-resource-storage-datastore-cluster") %>>
              <a href="/docs/providers/vsphere/r/datastore_cluster.html">vsphere_datastore_cluster</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-storage-cluster-datastore-vm-anti-affinity-rule") %>>
              <a href="/docs/providers/vsphere/r/datastore_cluster_vm_anti_affinity_rule.html">vsphere_datastore_cluster_vm_anti_affinity_rule</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-storage-file") %>>
              <a href="/docs/providers/vsphere/r/file.html">vsphere_file</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-storage-nas-datastore") %>>
              <a href="/docs/providers/vsphere/r/nas_datastore.html">vsphere_nas_datastore</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-storage-storage-drs-vm-override") %>>
              <a href="/docs/providers/vsphere/r/storage_drs_vm_override.html">vsphere_storage_drs_vm_override</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-storage-vmfs-datastore") %>>
              <a href="/docs/providers/vsphere/r/vmfs_datastore.html">vsphere_vmfs_datastore</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-vm-storage-policy") %>>
              <a href="/docs/providers/vsphere/r/vm_storage_policy.html">vm_storage_policy</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-vsphere-resource-vm") %>>
          <a href="#">Virtual Machine Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-vsphere-resource-vm-virtual-disk") %>>
              <a href="/docs/providers/vsphere/r/virtual_disk.html">vsphere_virtual_disk</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-vm-virtual-machine-resource") %>>
              <a href="/docs/providers/vsphere/r/virtual_machine.html">vsphere_virtual_machine</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-vm-virtual-machine-snapshot") %>>
              <a href="/docs/providers/vsphere/r/virtual_machine_snapshot.html">vsphere_virtual_machine_snapshot</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-vm-vapp-container") %>>
              <a href="/docs/providers/vsphere/r/vapp_container.html">vsphere_vapp_container</a>
            </li>
            <li<%= sidebar_current("docs-vsphere-resource-vm-vapp-entity") %>>
              <a href="/docs/providers/vsphere/r/vapp_entity.html">vsphere_vapp_entity</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>
  <%= yield %>
<% end %>
